@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Encode+Sans:wght@100..900&display=swap');

:root {
  --blue: rgb(104, 142, 161);
  --green: rgb(113, 181, 142);
  --tan: rgb(255, 209, 159);
  --lightBlue: rgba(104, 142, 161, 0.5);
  --lightGreen: rgba(113, 181, 142, 0.5);
  --lightTan: rgba(255, 209, 159, 0.5);
}

html {
  min-width: 320px;
}

* {
  box-sizing: border-box;
  font-family: 'Encode Sans', Helvetica, Arial, Lucida, sans-serif;
}

h1,
h2,
h3,
h4,
nav a,
.calendarCurrentDate {
  font-family: 'Belleza', Helvetica, Arial, Lucida, sans-serif;
  /* color: var(--blue); */
}

h1 {
  font-size: 2rem;
}

h3 {
  color: var(--blue);
}

h4 {
  font-size: 1.5rem;
  margin: 0;
}

.center {
  text-align: center;
}

/* default Button Style */
button {
  border: 1px solid var(--lightblue);
  border-radius: 5rem;
  height: 2rem;
  padding: 0 1rem;
  font-size: large;
  font-weight: 600;
  color: #fff;
  background-color: var(--blue);
  box-shadow: 0px 2px 5px var(--lightBlue);
}

.weaFav,
#mainFooter {
  justify-content: space-between;
}

.flexColumn {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

.gridCont {
  display: grid;
}

/* Start Grid Area  */

/* Header Styling */
header img {
  grid-area: logo;
  /* border: 1px solid red; */
}

header button {
  grid-area: login;
  /* border: 1px solid red; */
}

header nav {
  grid-area: nav;
  /* border: 1px solid red; */
}

header .gridCont {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'logo login'
    'nav nav';
}

/* End Grid Area */

header div,
#about div {
  max-width: 1080px;
  align-self: center;
}

header img {
  max-height: 3rem;
  justify-self: start;
  align-self: center;
  margin-bottom: 0.5rem;
}

header button {
  max-width: min-content;
  justify-self: end;
  align-self: center;
  margin-bottom: 0.5rem;
}

nav {
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--lightBlue);
}

nav ul {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav li {
  border-right: 1px solid var(--lightBlue);
  list-style: none;
  padding: 0px 1rem;
  font-size: large;
}

nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: var(--green);
  font-weight: 600;
}

.divider {
  border-bottom: 1px solid var(--lightBlue);
}

header > div,
section > div {
  margin: 1rem auto;
}

#about img {
  width: 100%;
  max-width: 500px;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px var(--lightBlue);
  justify-self: center;
}

#about > div > div {
  max-width: 500px;
  justify-self: center;
  /* border: 1px solid red; */
}

/* Calendar Styling */

.calendarContainer {
  border-radius: 10px;
  width: 100%;
  max-width: 550px;
  max-height: fit-content;
  box-shadow: 0px 2px 5px var(--lightBlue);
  justify-self: center;
}

#calendar ul {
  /* margin: 0; */
  padding: 0;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: var(--green);
}

.calendarNav span {
  height: 3rem;
  width: 3rem;
  margin: 0;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: var(--green);
  font-size: 3rem;
}

.calendarNav span:hover {
  background: #f2f2f2;
}

.calendarCurrentDate {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 0.5rem;
}

.calendarBody ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendarBody li {
  width: calc(100% / 7);
  font-size: 1rem;
}

.calendarDays li {
  margin: 0.5rem 0;
  cursor: default;
  font-weight: 500;
}

.calendarDates li {
  margin: 1.3rem 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendarDates li.inactive {
  color: #aaa;
}

.calendarDates li.active {
  color: #fff;
}

.calendarDates li.hasAct {
  color: red;
  font-weight: 800;
  font-size: 1.1rem;
}

.calendarDates li::before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendarDates li.active::before {
  background: var(--green);
}

.calendarDates li:not(.active):hover::before {
  background: #e4e1e1;
}

/* end of Calendar */

/* Activity Styling */

#highlight {
  margin-top: 1rem;
}

.activityContainer {
  border: 1px solid var(--lightblue);
  border-radius: 10px;
  box-shadow: 5px 5px 15px var(--lightBlue);
  max-width: 450px;
  margin: auto;
  margin-bottom: 1rem;
}

.activityContainer > div {
  /* border: 1px solid red; */
  margin: 1rem;
}

.activityFavorite {
  /* border: 1px solid blue; */
  margin: 0;
  height: 50px;
  font-size: 60px;
  line-height: 40px;
  text-align: right;
  color: var(--tan);
}

.activityImg {
  /* border: 1px solid red; */
  width: 100%;
  margin: 5% auto;
}

.activitySummary {
  margin: 0.5rem 0;
}

.activitySummary {
  align-items: start;
}

.activitySummary p {
  /* border: 1px solid red; */
  margin: 0.5rem 0;
  /* text-align: center; */
}

.building {
  font-weight: 600;
  color: var(--blue);
}

.activitySummary > button {
  border: 1px solid var(--lightGreen);
  background-color: var(--green);
  /* margin-left: 30%; */
}
/* end of Activities */

/* Newsletter Styles */

#newsletter * {
  text-align: center;
}

/* Footer Styles */

footer {
  margin-top: 1rem;
}

footer button {
  font-weight: normal;
  font-size: 0.7rem;
  background-color: var(--green);
  border: 1px solid var(--lightGreen);
  width: fit-content;
}

/* Start of Adding Activities Styling */

input {
  width: 100%;
}

#addAct > section {
  max-width: 450px;
  margin: auto;
}

#addAct button {
  justify-self: center;
  width: fit-content;
  margin: 1rem;
}

legend {
  font-weight: 600;
}

/* End of Adding Activities Styling */

@media screen and (min-width: 500px) {
  header .gridCont {
    /* border: 1px solid blue; */
    /* display: grid; */
    grid-template-columns: 1fr auto 1fr;
    /* grid-template-rows: auto; */
    grid-area: header;
    grid-template-areas: 'logo nav login';
  }

  nav {
    border-top: none;
  }
}

@media screen and (min-width: 825px) {
  /* Start Grid Area */
  #about img {
    grid-area: aboutPic;
    /* border: 1px solid red; */
  }

  #about > div > div {
    grid-area: about;
  }

  #about .gridCont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'about aboutPic';
  }

  #calendar .gridCont {
    grid-template-columns: 1fr 1fr;
    max-width: 1080px;
    max-height: 445px;
  }

  #highlight .weaFav {
    grid-area: weaFav;
  }

  #highlight .activityImg {
    grid-area: actImg;
  }

  #highlight .activitySummary {
    grid-area: actSum;
  }

  #highlight .activityContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'weaFav weaFAv'
      'actSum actImg';
  }

  /* End Grid Area */
  #about img {
    align-self: center;
    width: auto;
    height: 100%;
  }

  #allActivities {
    /* border: 1px solid red; */
    grid-template-columns: repeat(2, minmax(320px, 400px));
    margin: auto;
    column-gap: 1rem;
    justify-content: center;
  }
  /* 
  .activityContainer {
    align-items: start;
  } */

  #highlight {
    justify-self: center;
    margin-top: 0;
  }

  #highlight .activityContainer {
    width: auto;
    margin-left: 1rem;
    height: 100%;
  }

  #highlight .activitySummary {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }

  #highlight .weaFav {
    /* border: 1px solid red; */
    width: 185%;
  }
}
