<div class="flexColumn">
  <div id="logoLogin" class="flexRow divider">
    <a href="/"
      ><img
        id="logo"
        src="../images/mountains.png"
        alt="Mountains - Inland NW Singles' Logo"
    /></a>
    <button type="button" name="login">Login</button>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#activities">Activities</a></li>
      <li><a href="#newsletter">Newsletter</a></li>
      <!-- <li><a href="/">Test</a></li> -->
    </ul>
  </nav>
</div>
